<div id="handmade-sidebar-first">
	<div>
		<h2>Научные Фонды</h2>
	</div>
	<div>
		<a href="http://rscf.ru" target="_blank">
			<img src="/sites/default/files/theming/images/rscf.png">
		</a>
	</div>
	<div>
		<a href="http://www.rfh.ru" target="_blank">
			<img src="/sites/default/files/theming/images/rfh.png">
		</a>
	</div>
	<div>
		<a href="http://www.rfbr.ru" target="_blank">
			<img src="/sites/default/files/theming/images/rffi.png">
		</a>
	</div>
	<div>
		<a href="http://rsci.ru" target="_blank">
			<img src="/sites/default/files/theming/images/rsci.jpg">
		</a>
	</div>
	<div>
		<a href="http://fpi.gov.ru" target="_blank">
			<img src="/sites/default/files/theming/images/fpi.png">
		</a>
	</div>
	<div>
		<a href="https://presidentgrants.ru/" target="_blank">
			<img src="/sites/default/files/theming/images/prez_grant.png">
		</a>
	</div>
</div>