div#ufic-vacancy .title {
  font-family: Georgia;
  font-size: 130%;
  font-weight: bold;
  text-align: center;
  margin: 15px 0px 30px 0px; }

div#ufic-vacancy .content {
  text-align: center;
  margin-top: 100px; }

div#ufic-history {
  text-align: justify; }
  div#ufic-history .title {
    font-family: Georgia;
    font-size: 130%;
    font-weight: bold;
    text-align: center;
    margin: 15px 0px 30px 0px; }
  div#ufic-history .content {
    margin: 0px 10px 0px 0px; }
    div#ufic-history .content p {
      margin: 0px 0px 10px 0px;
      text-indent: 30px; }

div#ufic-invoice {
  text-align: justify; }
  div#ufic-invoice .title {
    font-family: Georgia;
    font-size: 130%;
    font-weight: bold;
    text-align: center;
    margin: 15px 0px 30px 0px; }

#ufic-resume .title {
  font-family: Georgia;
  font-size: 130%;
  font-weight: bold;
  text-align: center;
  margin: 15px 0px 25px 0px; }

#ufic-resume .table {
  display: table;
  margin: 0px 10px 10px 10px;
  border-collapse: collapse; }

#ufic-resume .row {
  display: table-row; }
  #ufic-resume .row > .cell:first-child {
    width: 30%;
    font-style: italic;
    font-weight: bold;
    text-align: center; }
  #ufic-resume .row a {
    text-decoration: underline; }

#ufic-resume .cell {
  display: table-cell;
  line-height: 2em;
  height: 70px;
  padding-left: 10px;
  border: 1px groove ghostwhite;
  text-align: left;
  vertical-align: middle; }

div#ufic-structure .title {
  font-family: Georgia;
  font-size: 130%;
  font-weight: bold;
  text-align: center;
  margin: 15px 0px 30px 0px; }

div#ufic-structure .content > ol {
  list-style-type: decimal;
  margin: 0px 0px 20px 20px; }
  div#ufic-structure .content > ol > li {
    padding-left: 5px; }

div#ufic-top-manage > p {
  font-family: Georgia;
  font-size: 130%;
  font-weight: bold;
  text-align: center;
  margin: 15px 0px 80px 0px; }

div#ufic-top-manage .person {
  margin: 0px 0px 40px 40px; }
  div#ufic-top-manage .person p.title {
    text-align: start;
    margin: 0px; }
  div#ufic-top-manage .person p:last-child::after {
    content: "";
    display: table;
    clear: both; }
  div#ufic-top-manage .person .position {
    line-height: 40px;
    font-size: 20px; }
  div#ufic-top-manage .person .name img {
    float: left;
    padding-right: 20px; }
  div#ufic-top-manage .person .name span {
    font-size: 30px; }

div#ufic-top-manage .person:nth-of-type(1) .name span {
  font-size: 35px; }

div#ufic-prezidium p.title {
  font-family: Georgia;
  font-size: 130%;
  font-weight: bold;
  text-align: center;
  margin: 15px 0px 20px 0px; }

div#ufic-prezidium table {
  width: 650px;
  margin: auto; }
  div#ufic-prezidium table th {
    background-color: #3b70b8;
    color: white; }
  div#ufic-prezidium table td {
    padding: 5px;
    white-space: nowrap; }

article .title {
  font-family: Georgia;
  font-size: 130%;
  font-weight: bold;
  text-align: center;
  margin: 15px 5px 30px 5px; }

span.file::after {
  font-family: FontAwesome;
  content: "\f08e";
  color: blue;
  padding-left: 10px; }

.file {
  padding-left: 20px;
  margin-bottom: 20px;
  display: inline-block;
  min-height: 16px;
  background-repeat: no-repeat;
  background-position: left center; }

.file--general,
.file--application-octet-stream {
  background-image: url(../../img/file-type/application-octet-stream.png); }

.file--package-x-generic {
  background-image: url(../../img/file-type/package-x-generic.png); }

.file--x-office-spreadsheet {
  background-image: url(../../img/file-type/x-office-spreadsheet.png); }

.file--x-office-document {
  background-image: url(../../img/file-type/x-office-document.png); }

.file--x-office-presentation {
  background-image: url(../../img/file-type/x-office-presentation.png); }

.file--text-x-script {
  background-image: url(../../img/file-type/text-x-script.png); }

.file--text-html {
  background-image: url(../../img/file-type/text-html.png); }

.file--text-plain {
  background-image: url(../../img/file-type/text-plain.png); }

.file--application-pdf {
  background-image: url(../../img/file-type/application-pdf.png); }

.file--application-x-executable {
  background-image: url(../../img/file-type/application-x-executable.png); }

.file--audio {
  background-image: url(../../img/file-type/audio-x-generic.png); }

.file--video {
  background-image: url(../../img/file-type/video-x-generic.png); }

.file--text {
  background-image: url(../../img/file-type/text-x-generic.png); }

.file--image {
  background-image: url(../../img/file-type/image-x-generic.png); }
