$body_width: 1260px;
$slider_width: 750px;
$citations_width: 255px;
$cite_arrow_height: 16px;
$cite_arrow_width: 12px;
$menu_count: 5;
$menu_height: 43;
$header-top-bgcolor: #ccd4e0;


$mainMenu: (
  bgdef:  #2572e9,
  gfrom:  #ececf3,
  gto:    #464457, 
);

$mainMenuSub: (
  bgdef:  #CCD4E3,
  gfrom:  #CCD4E3,
  gto:    #BBBBBB, 
  );

$ufic-main-menu-width: (
  1: 205px,
  2: 366px,
  3: 282px,
  5: 255px,
);

@mixin bg-gradient($map) {
  background: map-get($map, bgdef);
  background: -moz-linear-gradient(top, map-get($map, gfrom), map-get($map, gto));
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(map-get($map, gfrom)), to(map-get($map, gto)));
}

@mixin brdrad($top-left, $top-right, $bt-right, $bt-left) {
  border-radius: #{$top-left}px #{$top-right}px #{$bt-right}px #{$bt-left}px;
  -moz-border-radius: #{$top-left}px #{$top-right}px #{$bt-right}px #{$bt-left}px;
  -webkit-border-radius: #{$top-left}px #{$top-right}px #{$bt-right}px #{$bt-left}px;
}
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin transform($function) {
  -webkit-transform: $function;
  -moz-transform: $function;
  -o-transform: $function;
  transform: $function;
}
@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

