/* start import VARIABLES AND MIXING */
@import 'ufic_var_mix';
/* start import FONT-FACE */ 
@import 'ufic_fonts';
/* start import UFIC_HEADER_TOP styles */
@import 'ufic_header_top';
/* start import UFIC_MAIN_MENU styles */
@import 'ufic_main_menu';
/* start import SEARCH_BLOCK_PAGE styles */
@import 'search_block_page';
/* start import BgSlider styles */
@import 'ufic_bgslider';
/* start import UFIC FOOTER bottom styles */
@import 'ufic_footer';
/* start import UFIC NEWS FULL bottom styles */
@import 'ufic_news_full';

/* Start UNC site styles  */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  overflow-y: scroll;
}

body {
  background: #f3f3f3;
  font-family: Roboto, Calibri, Vernada;
  min-width: 1000px;
}

/* bootstrap styles start */

html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-size: 14px;
  line-height: 1.5;
//  margin: 5px;
}

ol, ul {
  margin-top: 0;
  margin-bottom: 10px;
}

a {
  color: #102bdd;
  text-decoration: none;
  background-color: transparent;
}

img {
  vertical-align: middle;
  border: 0;
}

main, footer {
  a {
   color: #0a001f;
   &:hover {
     text-decoration: underline;
   }
  }
}
/* Sticky Header Menu */
#ufic-header.sticky {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 101;
}

div#ufic-content .empty-page {
  @include flexbox();
  justify-content: center;
  text-align: center;
}

.pager {
  padding-left: 0;
  margin: 20px 0;
  text-align: center;
  list-style: none;

  li {
    display: inline;
  }

  li>a, li>span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
  }
}

::after, ::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* bootstrap styles end */

%flexlayout {
  @include flexbox();
}

.layout-container {
  @extend %flexlayout;
  flex-direction: column;
}

header {
  @extend .layout-container;
  &::after {
    content: "";
    display: none;
    height: #{$menu_height}px;
  }
  &.stub::after {
    display: block;
  }
}

main {
  @extend %flexlayout;
  justify-content: space-between;
}

footer {
  @extend main;
  flex-flow: row wrap;
  margin: 5px 5px 0px 5px;
}

aside, footer div[id^='ufic-footer'] {
  font-size: 90%;
  h2 {
    font-family: Philosopher, Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 120%;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 10px;
  }
}

.view-news-main-image-block {
  float: left;
  margin-right: 7px;
}

main {
  > * {
    border: 1px groove;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 5px;
  }
  .layout-sidebar-first,
  .layout-sidebar-second {
    width: 220px;
    line-height: 1.3;
  }
  .layout-content {
    @include flex(1);
  }
}

footer > div {
  width: 30%;
  @include flex(auto);
  border: 1px groove;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 5px 0;
}

#ufic-header {
  @include flexbox();
  align-items: center;
  @include bg-gradient($mainMenu);
  // background: #110eeb;
  // background: -moz-linear-gradient(top, #110eeb, #013953);
  // background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#110eeb), to(#83888e));
  z-index: 100;
  nav {
    @include flex(1);
  }
}

#ufic-headline {
  @include flexbox();
  align-items: center;
  height: 250px;
  margin: 1em 0px 12px 0px;
}

#ufic-sidebar-first,
#ufic-sidebar-second {
  & img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
}
