#ufic-resume {
  .title {
    font-family: Georgia;
		font-size: 130%;
		font-weight: bold;
		text-align: center;
		margin: 15px 0px 25px 0px;
   }
  .table {
    display: table;
    margin: 0px 10px 10px 10px;
    border-collapse: collapse;
  }
  .row {
    display: table-row;
    & > .cell:first-child {
      width: 30%;
      font-style: italic;
      font-weight: bold;
      text-align: center;
    }
    a {
      text-decoration: underline;
    }
  }
  .cell {
    display: table-cell;
    line-height: 2em;
    height: 70px;
    padding-left: 10px;
    border: 1px groove ghostwhite;
    text-align: left;
    vertical-align: middle;
  }
}