div#ufic-history{
	text-align: justify;
	.title {
		font-family: Georgia;
		font-size: 130%;
		font-weight: bold;
		text-align: center;
		margin: 15px 0px 30px 0px;
	}
	.content {
		margin: 0px 10px 0px 0px;
		p {
			margin: 0px 0px 10px 0px;
			text-indent: 30px;
			&::before {
				font-family: FontAwesome;
				content: '\f299';
				color: #b1069b;
				position: relative;
				left: -15px;
			}
		}
	}
}